

.navbar {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 8px;
    text-align: left;
    border: 2px solid rgb(0, 00, 00);
    position: sticky;
    top: 0;
    background-color: blue;
}

#b{
    height: auto;
    width: 50px;
    border-radius: 0%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.navbar a {
    margin: 5px;
    padding: 6px 10px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid rgb(0, 00, 00);
    background-color: #f7f3f3;
    border-radius: 5px;    
}

.navbar a:hover {
    background-color: rgb(242, 7, 7);
    color: rgb(0, 0, 0);
}

.navbar{
    transition-duration: 0.1;
}

#knop{
    padding: 8px 15px;
}

#knop:hover{
    background-color: rgb(242, 7, 7);
    color: rgb(0, 0, 0);
}



.info{
    width: 30%;
    margin-left: auto;
    border: 2px solid rgb(0, 00, 00);
    display: block;
    height: auto;
   
}

.info iframe{
    max-width: 100%;
}

.form{
display: block;
width: 300px;
}

.div0{
    
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

}

#git{
    font-size: 30px;
    display: block;
}