.navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    position: sticky;
    top: 0;
    background: blue;
}

#b {
    width: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    margin-right: 10px;
    vertical-align: middle;
}

.navbar a {
    margin: 5px;
    padding: 6px 10px;
    color: #000;
    text-decoration: none;
    background: #f7f3f3;
    border-radius: 5px;
}

.navbar a:hover,
#knop:hover,
#git:hover {
    background: rgb(242, 7, 7);
    color: #000;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 0 20px;
}

.table {
    flex: 1;
    border: 1px solid black;
    border-collapse: collapse;
    background: #fff;
    height: 310px;
    
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.h2 {
    flex: 1;
    text-align: left;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
}

.h2 h2 {
    margin-top: 0;
}

.td{
    text-align:center;
}
#p2{
    text-align:center;
}

#h1vaardigheden{
    text-align:center;
}


#contacten{
    background-color: #eae4e4;
    width: 100%;
    height: auto;
    margin-top: 40px;
    display:block;
}
