h1 {
    text-align: center;

}

.navbar {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 8px;
    text-align: left;
    position: sticky;
    top: 0;
    background-color: blue;
}

#b{
    height: auto;
    width: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.navbar a {
    margin: 5px;
    padding: 6px 10px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid rgb(0, 00, 00);
    background-color: #f7f3f3;
    border-radius: 5px;    
}

.navbar a:hover {
    background-color: rgb(242, 7, 7);
    color: rgb(0, 0, 0);
}

.navbar{
    transition-duration: 0.1;
}


#foto1h{
    width: 310px;
    height: auto;
  
}

.games{
    border: 2px solid rgb(0, 00, 00);
    height: auto;
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    box-shadow: 0 0 10px black;
}

#tekst-gamen{
    text-align:center;
  
}

#fgames{
    width: 310px;
    height: 280px;
    display: block;
  
}
#h2games{
    text-align: center;
}
#smoltekst{
    text-align: center;
    font-size: 10px;
}

.series{
    border: 2px solid rgb(0, 00, 00);
    height: auto;
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    box-shadow: 0 0 10px black;

}

#sfoto
{
    width: 310px;
    height: auto;
  
}
#h2series{
    text-align: center;
}

#tekst-series{
    text-align:center;
    margin: 5px;
  
}

.motorsport {
    border: 2px solid rgb(0, 00, 00);
    height: auto;
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    box-shadow: 0 0 10px black;
    
}

#fer{
    width: 310px;
    height: auto;
  
}

#msh2{
    text-align: center;
}

#msp{
    text-align: center;
    margin: 5px;
}

#bmw{
    width: 310px;
height: 155px;
display: block;
}

#contacten{
    background-color: #eae4e4;
    width: 100%;
    height: auto;
    margin-top: 40px;
    display:block;
}
